/* responsive.css */
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main {
        margin-top: 100px; /* Adjust if necessary */
    }
    .w3-bar {
        flex-direction: column;
    }
    .w3-bar-item {
        width: 100%;
        text-align: center;
        padding: 14px 0;
    }
}
